body{
    width: 100%;
    background-color: rgba(52, 52, 225, 0.985);
}
.dummy{
    float: left;
    width: 100%;
}
.port{
    float: left;
    width: 20%;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
}
.top-nav{
    float: left;
    width: 78%;
    color: aliceblue;
    margin-top: 2%;
}
.top-nav li{
    display: inline;
    font-size: 40px;
    color: aliceblue;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.left-div{
    float: left;
    width: 68%;
    margin-bottom: 5%;
    color: aliceblue;
    font-size: 20px;
}
p{
    float: left;
    width: 100%;
    color: aliceblue; 
}
.right-div{
    float: left;
    width: 29%;
    background-color: rgba(40, 189, 234, 0.762);
    border-radius: 50%;
}
.right-div img{
    background-size: 100%;
    height: 510px;
    border-radius: 70%;
    margin: 4% 5% 3% 9%;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
}
i{
    float: left;
    margin: 1% 3% 1% 7%;
    font-size: 40px;
}
table{
    float: left;
    border: 4px solid aliceblue;
    height: 300px;
    margin-left: 5%;
}
td{
    border: 2px solid aliceblue;
}
.tech h3{
    margin-left: 5%;
}
.tech b{
    font-size: 27px;
}
.form{
    float: left;
    width: 100%; 
}
.form input{
    float: left;
    width: 70%;
    background: transparent;
    margin: 2% 15% 1% 13%;
    transform: translateY(-180%);
    font-size: 33px;
}
.form button{
    float: left;
    background: transparent;
    width: 40%;
    margin: 2% 30% 2% 20%;
    font-size: 30px;
}
.form i{
    float: left;
    width: 5%;
    font-size: 40px;
}
.det{
    margin-bottom: 10%;
}