{% extends "index.html" %}
{% block title %}
About Dhanesh
{% endblock %}
{% block left %}
    <h1>Educational Qualification</h1>
    <table>
        <tr style="color: black; font-size: 25px; font-weight: 900;">
            <td><b>Qualification</b></td>
            <td><b>College/School</b></td>
            <td><b>CGPA</b></td>
            <td><b>Percentage</b></td>
            <td><b>Year of Passing</b></td>
        </tr>
        <tr>
            <td>B.tech(Information Technology)</td>
            <td>QIS College of Engineering and Technology</td>
            <td>8.92</td>
            <td>81.70</td>
            <td>2025</td>
        </tr>
        <tr>
            <td>Inter</td>
            <td>Sri Prathibha jr College</td>
            <td>9.06</td>
            <td>90.6</td>
            <td>2021</td>
        </tr>
        <tr>
            <td>SSC</td>
            <td>ZPHS Kopperapadu</td>
            <td>8.5</td>
            <td>85</td>
            <td>2019</td>
        </tr>
    </table>
    <div class="tech" style="margin-top: 40%;">
        <h1>Technical skills</h1>
        <h3><b>Primary Laguages</b> : Core Java, Python</h3>
        <h3><b>programming Laguages</b> : Java, Python, C, HTML</h3>
        <h3><b>Data Analysis</b> : Pandas, Numpy</h3>
        <h3><b>Data visualization</b> : Matplotlib, Seaborn</h3>
        <h3><b>Database</b> : DBMS,MongoDb</h3>
    </div>
    <h1>Leadership Experience</h1>
    <ul>
        <li><h4>Vice President, Rotaract Club of QIS Elite year-2023-2024 ID:11737291.</h4></li>
        <li><h4>Hosted Many college events, including cultural festivals, academic seminars.</h4></li>
        <li><h4>Represented the class in academic meetings as Class Coordinator.</h4></li>
    </ul>
    <div class="det">
        <h1>Personal Details</h1>
        <i class="fas fa-user icon"></i><h3>Father's Name :</h3><h5>Divakolu Thirupathaiah</h5>
        <i class="fas fa-calendar-alt icon"></i><h3>Date of Birth :</h3><h5>12-07-2004</h5>
        <i class="fas fa-venus-mars icon"></i><h3>Gender : </h3><h5>Male</h5>
        <i class="fas fa-map-marker-alt icon"></i><h3><Address>1-24, Kukatlapalli, Kukatlapalli(post), Ballikurava(mandal), 523 303, Bapatla(District), Andhra Pradesh.</Address></h3>
    </div>
    {% endblock %}