<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            Dhanesh Portfolio
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="port"><h1>Portfolio</h1></div>
        <div class="top-nav">
            <nav>
                <ul>
                    <li><i class="fas fa-home"><a href="/">Home</a></i></li>
                    <li><i class="fas fa-user"><a href="/about">About</a></i></li>
                    <li><i class="fas fa-briefcase"><a href="/projects">Projects</a></i></li>
                    <li><i class="fas fa-envelope"><a href="/contact">Contact</a></i></li>
                </ul>
            </nav>
        </div>
        <div class="dummy"></div>
        <div class="left-div">
            {% block left %}
                <h2>Hello, it's me</h2>
                <h1>Dhanesh Divakolu</h1>
                <h2>And I'm a Software Developer</h2>
                <p>I am a quick learner with a strong work ethic, constantly looking to grow and expand my skill set.
                With a deep interest in working collaboratively, I thrive in team environments where shared ideas lead to innovative solutions. 
                I have a solid understanding of Core Java, Python, SQL and HTML, and am always eager to take on new challenges to further develop my technical skills.
                 My strong mindset and adaptability allow me to approach tasks efficiently and with a solution-oriented focus, whether in programming or working alongside others to achieve common goals.</p>
            {% endblock left %}
                <a href="https://www.instagram.com/dhanesh_48114"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/DhaneshDivakolu"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/divakolu-dhanesh-972a4223b/?originalSubdomain=in"><i class="fab fa-linkedin"></i></a>
            </div>
        
        <div class="right-div">
            <img src="../static/images/My_Passport_Photo_2.jpg" alt="No img">
        </div>
        <script src="../static/js/style.js"></script>
    </body>
</html>