{% extends "index.html" %}
{% block title %}
    Projects
{% endblock %}

{% block left %}
<div class="tech">
    <h1>Projects</h1>
    <ul>
        <li><h4>A Major project on Multiclass Adaptive Active Learning for Predicting Students Anxiety using Python Flask, Random Forest, SVM, KNN, Decision Tree Classifier.</h4></li>
        <h4><a href="https://github.com/DhaneshDivakolu/Students_Anxiety">👉 You can see me By click 👈</a></h4>
        <li><h4>A mini project in Web Development on My Portfolio using Python Flask, HTML, CSS, and JavaScript.</h4></li>
        <h4><a href="https://github.com/DhaneshDivakolu/portfolio">👉 You can see me By click 👈</a></h4>
        <li><h4>A mini project in Data Base Management System on Library Management System.</h4></li>
        <li><h4>A mini project in Python on Colour or Number Guessing game Using Tkinter.</h4></li>
        <li><h4>A mini project in Web Development on Event Management Page using Python Flask, HTML, CSS, and JavaScript.</h4></li>
        <h4><a href="https://github.com/DhaneshDivakolu/Event-Management-Page">👉 You can see me By click 👈</a></h4>
        <li><h4>A mini project in Web Development on College Administrations using Python Flask, HTML, CSS, and JavaScript.</h4></li>
        <h4><a href="https://github.com/DhaneshDivakolu/Clg_Administrations">👉 You can see me By click 👈</a></h4>
        <li><h4>A mini project in Web Development on Simple Calculator using Python Flask, HTML, CSS, and JavaScript.</h4></li>
        <h4><a href="https://github.com/DhaneshDivakolu/Simple_Calculator">👉 You can see me By click 👈</a></h4>
        <li><h4>A mini project in Web Development on College Management System using Python Flask, HTML, CSS, and JavaScript.</h4></li>
        <h4><a href="https://github.com/DhaneshDivakolu/Clg_Management_System">👉 You can see me By click 👈</a></h4>
    </ul>
</div>
{% endblock %}